{% extends "index.html" %}

{% block title %}
Cart Page
{% endblock %}

{% block body %}
<div class="container">
    <h2>Cart</h2>
    <table class="table" id="cart_table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price Per Product</th>
                <th>Total Price</th>
                <th>Remove Item from Cart</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr id="row-{{ cart_item.product_id}}">
                <td>{{ cart_item.product_name }}</td>
                <td>
                    <select name="quantity" id="quantity-{{ cart_item.product_id }}"
                        onchange="calculateprice('{{ cart_item.product_id }}', '{{ cart_item.product_price }}')">
                        {% for number in cart_numbers %}
                        <option value="{{ number }}">{{ number }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>Rs. {{ cart_item.product_price }}</td>
                <td id="price_total-{{cart_item.product_id}}">Rs. {{ cart_item.price_total }}</td>
                <td><button class="btn btn-danger"
                        onclick="removeFromCart('{{ cart_item.product_id }}')">Remove</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Total Cart Price: Rs. <span id="total_cart_price"></span></h4>
    <br>
    <button class="btn btn-danger" onclick="removeAllFromCart()">Remove All Items From Cart</button>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        update_total_cart_value()
        console.log("Hey ", getCookie('cartItems'));
    });

    function update_total_cart_value() {
        let total_cart_price = 0
        const rows = document.querySelectorAll('tbody tr')
        rows.forEach(row => {
            row_id = row.id.split("-")[1];
            item_price = document.getElementById("price_total-" + row_id).textContent.replace("Rs.", "");
            total_cart_price += parseFloat(item_price);
        });
        document.getElementById('total_cart_price').innerText = total_cart_price.toFixed(2);

    }

    function calculateprice(id, product_price) {
        quantity = document.getElementById('quantity-' + id).value;
        var total_price = product_price * quantity;
        document.getElementById('price_total-' + id).textContent = total_price.toFixed(2);
        update_total_cart_value()
    }


    function removeFromCart(id) {
        $.ajax({
            url: '/cart/remove/' + id + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
        });
        cart_items = JSON.parse(getCookie('cartItems'));
        updated_cart_items = cart_items.filter(item => item.productId != id)
        setCookie('cartItems', JSON.stringify(updated_cart_items))
        update_cart_page_upon_cart_item_removal(id)
    }

    function update_cart_page_upon_cart_item_removal(id) {
        document.getElementById("row-" + id).remove();
        showFlashMessage(`Product removed from cart`, 'info');
        update_total_cart_value()
    }

    function removeAllFromCart() {
        localStorage.removeItem("cartItems");
        $.ajax({
            url: '/cart/removeallitemsfromcart',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function () {
                window.location.replace("/");
            },
        });
    }

</script>
{% endblock %}