{% extends "index.html" %}

{% block title %}
Cart Page
{% endblock %}

{% block head %}
<style>
    @media (max-width: 767px) {
        .modal-dialog {
            max-width: 70%;
            padding-left: 5%;
        }

        .buttons-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            /* Adjust the padding as needed */
            padding-left: 10%;
            max-width: 80%;
        }
        th{
            display: none;
        }
        td{
            display: block;
        }

        td:nth-child(1)::before{
            content: "Product Name";
            font-weight: bold;
            display: block;
        }
        td:nth-child(2)::before{
            content: "Quantity";
            font-weight: bold;
            display: block;
        }
        td:nth-child(3)::before{
            content: "Price Per Product";
            font-weight: bold;
            display: block;
        }
        td:nth-child(4)::before{
            content: "Total Price";
            font-weight: bold;
            display: block;
        }
        td:nth-child(5)::before{
            content: "Remove Item from Cart";
            font-weight: bold;
            display: block;
        }
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
{% if cart_items %}
<div class="container">
    <h2>Cart</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="cart_table">
            <thead  class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price Per Product</th>
                    <th>Total Price</th>
                    <th>Remove Item from Cart</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr id="row-{{ cart_item.product_id}}">
                    <td>{{ cart_item.product_name }}</td>
                    <td>
                        <select name="quantity" id="quantity-{{ cart_item.product_id }}"
                            onchange="calculateprice('{{ cart_item.product_id }}', '{{ cart_item.product_price }}')">
                            {% for number in cart_numbers %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td id="product_price-{{ cart_item.product_id }}">Rs. {{ cart_item.product_price }}</td>
                    <td id="price_total-{{cart_item.product_id}}"></td>
                    <td><button class="btn btn-danger"
                            onclick="removeFromCart('{{ cart_item.product_id }}')">Remove</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h4>Total Cart Price: Rs. <span id="total_cart_price"></span></h4>
        <br>
        <div class="buttons-container mb-4">
            <button class="btn btn-danger mr-3" onclick="removeAllFromCart()">Remove All Items From Cart</button>
            <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#finalizecartitems">
                Proceed for Buying
            </button>
            <a href="/"><button class="btn btn-warning"> Go shopping!</button></a>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    You have no items in cart currently!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div style="padding-left: 45vw; padding-top: 10vh;">
    <a class="btn btn-warning" href="/">Go Shopping!</a>
</div>
{% endif %}



<!-- Modal -->
<div class="modal fade" id="finalizecartitems" tabindex="-1" role="dialog" aria-labelledby="finalizecartitemsLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finalizecartitemsLabel">Confirm the Following</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" id="address" name="address" rows="3"
                        required>{{ user_address }}</textarea>
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone Number:</label>
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" required
                        value="{{ user_phone_number }}">
                </div>
                <div class="form-group">
                    <label for="alternate_phone_number">Alternate Phone Number:</label>
                    <input type="tel" class="form-control" id="alternate_phone_number" name="alternate_phone_number">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="checkout-button" class="btn btn-primary" onclick="purchase_function()">Pay
                    Now</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            row_id = row.id.split("-",)[1];
            const product_price_str = document.getElementById("product_price-" + row_id).textContent;
            console.log("Bronze Berry")
            const product_price = product_price_str.replace('Rs. ', '');
            console.log("Product price: " + product_price);
            const quantity = document.getElementById("quantity-" + row_id).value;
            const total_price = (product_price * quantity).toFixed(2);
            total_price_element = document.getElementById("price_total-" + row_id);
            document.getElementById("price_total-" + row_id).textContent = "Rs. " + total_price;
        });
        update_total_cart_value();
    });



    final_cart_items = [];
    function update_total_cart_value() {
        let total_cart_price = 0;
        const rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            row_id = row.id.split("-",)[1];
            item_price = document.getElementById("price_total-" + row_id).textContent.replace("Rs.", "");
            quantity = document.getElementById("quantity-" + row_id).value;
            const existing_item_index = final_cart_items.findIndex(item => item.productId == row_id);
            if (existing_item_index == -1) {
                final_cart_items.push({ "productId": row_id, "quantity": quantity });
            } else {
                final_cart_items[existing_item_index].quantity = quantity;
            }
            total_cart_price += parseFloat(item_price);
        });
        total_cart_price_element = document.getElementById("total_cart_price");
        if (total_cart_price_element!=null){
        total_cart_price_element = "Rs. " + total_cart_price.toFixed(2);
        }
    }


    function calculateprice(id, product_price) {
        quantity = document.getElementById('quantity-' + id).value;
        var total_price = product_price * quantity;
        document.getElementById('price_total-' + id).textContent = "Rs. " +  total_price.toFixed(2);
        update_total_cart_value()
    }


    function removeFromCart(id) {
        $.ajax({
            url: '/cart/remove/' + id + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function () {
                cart_items = JSON.parse(getCookie('cartItems'));
                updated_cart_items = cart_items.filter(item => item.productId != id)
                setCookie('cartItems', JSON.stringify(updated_cart_items))
                cart_length = cart_items.length - 1;
                document.getElementById("cart").textContent = 'Cart(' + cart_length + ')';
                update_cart_page_upon_cart_item_removal(id)
            },
        });
    }

    function update_cart_page_upon_cart_item_removal(id) {
        document.getElementById("row-" + id).remove();
        showFlashMessage(`Product removed from cart`, 'info');
        update_total_cart_value()
    }

    function removeAllFromCart() {
        console.log("Inside removeAllFromCart")
        $.ajax({
            url: '/cart/removeallitemsfromcart/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function () {
                document.cookie = 'cartItems' + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                window.location.replace("/");
            },
        });
    }

    // Stripe Code
    function purchase_function() {
        console.log("Bronze Berry Pug")
        address = document.getElementById('address').value;
        phone_number = document.getElementById('phone_number').value;
        alternate_phone_number = document.getElementById('alternate_phone_number').value;
        personal_details = [{ "address": address, "phone_number": phone_number, "alternate_phone_number": alternate_phone_number }];
        console.log("Final cart items ", final_cart_items);
        console.log("Personal details ", personal_details);
        fetch('/create_checkout_session/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ 'final_cart_items': final_cart_items, "personal_details": personal_details }),
        })
            .then(function (response) {
                console.log("First Then ")
                return response.json();
            })
            .then(function (session) {
                // Redirect to Stripe Checkout
                console.log("2nd Then")
                var stripe = Stripe('pk_test_51NgoITSBnszGagyZIZdreQAFSPkP778PskWv7lw73xL43Cr8mQZ3MTTdNhK98zjMc4DLo4O80MfnUPGXZeAFXeIN00R1XjOIOH');
                stripe.redirectToCheckout({
                    sessionId: session.session_id
                });
            });
    }
</script>
{% endblock %}