{% extends "index.html" %}

{% block title %}
Orders Page
{% endblock %}

{% block head %}
<style>
    @media (max-width: 768px) {
        th {
            display: none;
        }

        td {
            display: block;
        }

        td:nth-child(1)::before {
            content: "Order ID: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(2)::before {
            content: "Product Name: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(3)::before {
            content: "Product Price: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(4)::before {
            content: "Product Quantity: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(5)::before {
            content: "Total Price: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(6)::before {
            content: "Order Date: ";
            font-weight: bold;
            display: block;
        }

        td:nth-child(7)::before {
            content: "Order Status: ";
            font-weight: bold;
            display: block;
        }
    }
</style>
{% endblock %}
{% block body %}
{% if orders %}
<div class="container">
    <p>
    <br><br>    
    <h2 style="text-align: center;">Orders</h2></p>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Total Price</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>
                        {% for item in order.get_products_ordered %}
                        <a style="color: black;" href = '/product/{{item.product_id}}'>{{ item.product_name }}</a><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item in order.get_products_ordered %}
                        Rs.<span id="product_price"> {{ item.product_price }} </span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item in order.get_products_ordered %}
                        {{ item.quantity }}<br>
                        {% endfor %}
                    </td>
                    <td id="total_price_{{ order.order_id }}">Rs. {{ order.total_amount }}
                    </td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.order_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container d-flex justify-content-center mb-4">
    <a class="btn btn-warning" href="/">Go Shopping!</a>
</div>
{% else %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    You have no orders!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="text-center" style="padding-top:10vh ;">
    <a href="/"><button type="button" class="btn btn-warning">Go Shopping!</button></a>
</div>
{% endif %}
{% endblock %}