{% extends "index.html" %}
{% block title %}
Store
{% endblock%}


{% block body %}
<!-- Showing Products -->
<p><h1 style="text-align: center;">Products Available</h1></p>

<!-- Filter and Sort Products -->
<div class="container">
<form method="get">
    <select name="category" style="height: 5vh;" class="mr-2">
        <option value="">All Categories</option>
        {% for item in unique_categories %}
        <option style="text-transform: capitalize;" value="{{ item }}">{{ item }}</option>"
        {% endfor %}
    </select>
    <select name="sort_by" style="height: 5vh;" class="mr-2">
        <option value="">Sort by</option>
        <option value="price">Price (Low to High)</option>
        <option value="-price">Price (High to Low)</option>
    </select>
    <button type="submit" class="btn btn-outline-primary">Filter & Sort</button>
</form>
</div>

<!-- Display Products  -->
<div class="container" style="padding-top: 4vh;">
    {% for product in current_page_items %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="card mb-3 border-primary" style="height: 63vh;">
                <div class="card-body">
                    <div class="container text-center">
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid" style="height: 35vh;"
                            loading="lazy">
                    </div>
                    <h5 class="card-title mt-1 text-truncate text-center" style="height: 7vh;">
                        {{ product.name }}</h5>
                    <p class="card-text"><b style="float: left;">Price: Rs. {{ product.price }}</b> <b
                            style="float: right; text-transform: capitalize;"> {{ product.category }}</b></p>
                    <br>
                </div>
                <div class="card-footer" style="flex-wrap: wrap;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                                <a href="/product/{{ product.id }}"><button class="btn btn-outline-danger">See More Details</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}


    <!-- Pagination -->
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if current_page_items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{current_page_items.previous_page_number}}&category={{ category }}&sort_by={{ sort_by }}">Previous
                    Page</a></li>
            {% endif %}
            {% if current_page_items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{current_page_items.next_page_number}}&category={{ category }}&sort_by={{ sort_by }}">Next
                    Page</a></li>
            {% endif %}
        </ul>
    </nav>
    <br>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the cart button element and initialize the cart count
        const cartButton = document.getElementById('cart');
        const authenticated = JSON.parse('{{ user.is_authenticated|lower }}');
        let cartCount = 0;

        // Adding items in cart to cookie
        const items_to_add_to_cookie = JSON.parse('{{ items_to_add_to_cookie|safe }}');
        if (items_to_add_to_cookie) {
            cookie = JSON.parse(getCookie('cartItems'));
            cookie.push(...items_to_add_to_cookie);
            setCookie('cartItems', JSON.stringify(cookie));
        }
    });
</script>
{% endblock %}